body {
  background-color: pink;
}

.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 97vh;
}

.game-container {
  display: flex;
  flex-flow: column wrap;
  background-color: blue;
  width: 80%;
  height: 80%;
}

.table-container {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: 60%;
}

.card-container {
  /* background-color: lime; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 40%;
}

.info-container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  height: 60%;
}

.button-container {
  /* background-color: magenta; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  height: 40%;
}

.btn {
  background-color: yellow;
  width: 80%;
  height: 20%;
  font-weight: bold;
  max-width: 250px;
}
